<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aroundtheway Admin</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body class="min-h-screen bg-white">
    <partial name="_Nav" />
    <main class="flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
